Vaishnovi Bodkhe

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [ ]:
#loading data from csv file
spam = pd.read_csv("spam.csv",encoding='latin-1')

In [ ]:
spam.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [ ]:
spam = spam[["v1","v2"]]

In [ ]:
x = np.array(spam["v2"])
y = np.array(spam["v1"])
cv = CountVectorizer()
X = cv.fit_transform(x)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33,random_state=42)

clf = MultinomialNB()
clf.fit(X_train,y_train)

MultinomialNB()

In [ ]:
sample = input('Enter a message:-')
data = cv.transform([sample]).toarray()
print(clf.predict(data))

Enter a message:-Hello I'm Vaishnovi.
['ham']